{% extends 'questionnaire/base.html' %}
{% load staticfiles %}

{% block page-actions %}
    <div class="title-action">

    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Wakina Mama Wanaotakiwa Kurudi Followup Clinic Day 28</h5>
                    <div class="ibox-tools">
                        <button type="button" class="btn btn-default">Print <i class="fa fa-print"></i></button>
                    </div>
                </div>
                <div class="ibox-content" id="clients">
                    <div class="row">
                        <div class="col-sm-5 m-b-xs">
                            <div class="input-group date" id="date_filter">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" value="{{ date }}">
                            </div>
                        </div>
                    </div>
                    {% if not clients %}
                        <div class="row" id="clients-empty">
                            <div class="text-info text-center text-bold">
                                There is no client attended on the selected date.
                            </div>
                        </div>
                    {% else %}
                        <table class="table table-striped" id="clients-table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Relative's Phone</th>
                                <th>Came Day 28?</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr class="client" id="{{ client.id }}" data-clientid="{{ client.id }}">
                                    <td>{{ client.client_id }}</td>
                                    <td>{{ client.name }}</td>
                                    <td>{{ client.phone }}</td>
                                    <td>{{ client.phone_relative }}</td>
                                    <td>
                                        <input type="checkbox"  class="i-checks" name="came_day28" data-clientid="{{ client.id }}"
                                        {% if client.came_day28 %} value="True" checked {% else %} value="False" {% endif %} />
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'bootstrap/js/plugins/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var dateFilter = $('#date_filter');

            dateFilter.datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            }).on('changeDate', function (event) {
                console.log(event.format());
                $.ajax({
                    url: "{% url 'followup-day28' %}",
                    type: "GET",
                    data: {
                        datePicked: event.format()
                    },
                    success: function (response) {
                        var clientsBody = $('#clients');
                        if (response.length === 0 ) {
                            if (clientsBody.find('#clients-empty').length) {
                                clientsBody.find('#clients-empty').html(`
                                    <div class="text-info text-center text-bold">
                                        There is no client attended on ` + event.format() + `.
                                    </div>
                                `);
                            }
                            else {
                                clientsBody.find('#clients-table').remove();
                                clientsBody.append(`
                                    <div class="row" id="clients-empty">
                                        <div class="text-info text-center text-bold">
                                            There is no client attended on ` + event.format() + `.
                                        </div>
                                    </div>
                                `);
                            }
                        }
                        else {
                            var clients = response;
                            var tableBody =  $('#clients-table tbody');
                            if (clientsBody.find('#clients-empty').length) {
                                clientsBody.find('#clients-empty').remove();
                                clientsBody.append(`
                                    <table class="table table-stripped" id="clients-table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Relative's Phone</th>
                                                <th>Came Day 28?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                `);
                            }
                            else {
                                tableBody.empty();
                            }
                            $(function () {
                                var content = '';
                                for (var i = 0; i < clients.length; i++) {
                                    content += '<tr class="client" id="' + clients[i].pk + '" data-clientid="' + clients[i].pk + '">';
                                    content += '<td>' + clients[i]['fields'].client_id + '</td>';
                                    content += '<td>' + clients[i]['fields'].name + '</td>';
                                    content += '<td>' + clients[i]['fields'].phone + '</td>';
                                    content += '<td>' + clients[i]['fields'].phone_relative + '</td>';
                                    content += '<td><input type="checkbox"  class="i-checks" name="came_day28" data-clientid="' + clients[i].pk + '" value="False" /></td>';

                                    content += '</tr>';
                                }
                                tableBody.html(content);
                                tableBody.find('.i-checks').each(function (index) {
                                    $(this).iCheck({
                                        checkboxClass: 'icheckbox_square-green'
                                    });

                                    $(this).on('ifChanged', function () {
                                        var id = $(this).attr('data-clientid');
                                        var field = $(this).attr('name');
                                        if(this.checked) {
                                            $(this).val('True');
                                            var value = $(this).val();
                                        }
                                        else {
                                            $(this).val('False');
                                            var value = $(this).val();
                                        }

                                        $.ajax({
                                            url: "{% url 'followup-day28' %}",
                                            type: "POST",
                                            data: {
                                                id: id,
                                                field: field,
                                                value: value
                                            },
                                            success: function () {

                                            },
                                            error: function () {

                                            }
                                        });
                                    });

                                });
                            });
                        }
                    },
                    error: function () {

                    }
                });
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green'
            });

            $('input:checkbox').on('ifChanged', function () {
                var id = $(this).attr('data-clientid');
                var field = $(this).attr('name');
                if(this.checked) {
                    $(this).val('True');
                    var value = $(this).val();
                }
                else {
                    $(this).val('False');
                    var value = $(this).val();
                }
                $.ajax({
                    url: "{% url 'followup-day28' %}",
                    type: "POST",
                    data: {
                        id: id,
                        field: field,
                        value: value
                    },
                    success: function () {

                    },
                    error: function () {

                    }
                });
            });

            // CSRF
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>
{% endblock %}